<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        minus magni odit assumenda a corporis numquam fugiat voluptatem
        reiciendis, dolor officiis sequi laborum nostrum consequatur eaque vel
        temporibus dolores similique.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quis
        error veritatis deserunt unde nostrum eum fuga reprehenderit ea minima
        iure corrupti consequatur non a optio quae sed, ipsa autem?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nihil
        maxime blanditiis incidunt eos. Iste, aperiam. Est at laudantium
        similique! Repudiandae corporis libero ad, quis cupiditate eligendi
        optio blanditiis iste.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
